{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <a href="{{ path('survos_bunny_zones') }}" class="btn btn-primary">
        See zones
    </a>
{% endblock %}
